<h2>FileInput</h2>
<div class="dds__container">
    <dds-form>
        <div class="dds__row">
            <div class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3">
                <dds-fileinput
                    label="hairball run catnip eat"
                    helper="Ooh, are those your $250 dollar sandals?"
                    error="lemme use that as my litter box"
                    button="Meow"
                    accept=".jpg, .png"
                    ddsOptions='{"maxFileCount": 3, "maxFileSize": 1024000}'
                ></dds-fileinput>
            </div>
        </div>
    </dds-form>
</div>