<h2>Notification</h2>
<div class="dds__row">
    <div class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3">
        <dds-notification 
            [ddsOptions]="ddsOptions"
            [timeout]="timeout">
        </dds-notification>

        <button class="dds__button" (click)="newNotification()">New Notification</button>
        <h3 style="text-align: left;">Notifications in Queue: {{newNotificationList.length > 3 ? newNotificationList.length - 3 : 0}}</h3>
        <div *ngFor="let item of newNotificationList; let i = index">
            <dds-notification 
                (closed)="notificationClosed($event)"
                [elementId]="item.elementId"
                [ddsOptions]="item.options"
                [timeout]="item.timeout"
                *ngIf="i < 3">
            </dds-notification>
        </div>
    </div>
</div>