<h2>Table</h2>
<div class="dds__row">
    <div class="dds__col--2 dds__col--sm-12 dds__col--md-12 dds__mb-3">
        <h3 style="color:red">Pagination</h3>
        <ul>
            <li>
                The dataSource property for server-side data usage has been released for
                the Table and a very basic implementation can be found on the 
                <a routerLink="/table-datasource">table-datasource page</a>.
            </li>
            <li>
                The built-in connection to the Pagination component has been released for the Table
                as of v2.14.0. Please see the <a
                    href="https://vanilla.delldesignsystem.com/?path=/docs/components-table--w-pagination"
                    target="blank">documentation on Storybook</a>.
                The following sample will remain in place, showing how to manually connect the two components:
                <a routerLink="/table-pagination">Table-Pagination</a> page.
            </li>
        </ul>
        <div class="controlPanel">
            <button role="button" class="dds__button" (click)="handleAdd(1)">
                Add Row
            </button>
            <button role="button" class="dds__button" (click)="handleDelete($event)">
                Delete Row
            </button>
            <button role="button" class="dds__button" (click)="handleSort($event)">
                Col 0: {{ sorting }}
            </button>
            <button role="button" class="dds__button" (click)="handleSelect($event)">
                Selected {{selectedIndex}}
            </button>
            <button role="button" class="dds__button" (click)="handleSticky($event)">
                Sticky {{classList.indexOf('sticky') > 0}}
            </button>
        </div>
        <dds-messagebar elementId="ddsMessageBar" classList="dds__d-none" [title]="mb.title"
            [dismissible]="mb.dismissible" [layout]="mb.layout" [icon]="mb.icon" [variant]="mb.variant">
            {{mb.body}}
        </dds-messagebar>
        <dds-table #myTable 
            [elementId]="tableId"
            [ddsOptions]="config"
            (onSort)="handleSort($event)"
            (onRowClick)="handleRowClick($event)"
            [classList]="classList"
            [interactiveRows]="false"
        ></dds-table>
        <dds-pagination #myPagination [elementId]="paginationId"
            [perPageSelected]="paginationOptions.perPageSelected"
            [perPageOptions]="paginationOptions.perPageOptions"
            [ddsOptions]="paginationOptions.options"
        ></dds-pagination>
        <dds-load
            #loader
            mode="global"
            label="Loading..."
            [hidden]="loaderHidden"
            size="md"
            placement="bottom"
        ></dds-load>
    </div>
    <div class="dds__row">
        <div class="dds__col--1 dds__col--sm-12 dds__col--md-12 dds__mb-3">
            <h3>Other Experiments</h3>

            <ul class="dds__list">
                <li>
                    <a target="blank" href="https://codepen.io/DorkForce/pen/poLyLEY">
                        DDS2 Table 8 columns+
                    </a>
                </li>
                <li>
                    <a target="blank" href="https://codepen.io/DorkForce/pen/qBoBGYp">
                        DDS2 Table Static with Sticky Header
                    </a>
                </li>
                <li>
                    <a target="blank" href="https://codepen.io/DorkForce/pen/VwQxzqo">
                        DDS2 Table sticky containerless hack
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</div>