<div class="app">
  <div class="dds__container">
    <section class="app__home-section">
      <h1>Button Example</h1>
      <button class="dds__button">Shop All Deals</button>
    </section>
    <section class="app__home-section">
      <h1>Accordion Example</h1>
      <div
        role="region"
        id="accordion-1"
        class="dds__accordion"
        data-dds="accordion"
        data-independent="true"
        data-sr-collapse-all="3 items collapsed."
        data-sr-expand-all="3 items expanded."
        data-sr-expand-item="item expanded."
        data-sr-collapse-item="item collapsed."
      >
        <div class="dds__accordion__control">
          <button class="dds__accordion__control__expand" aria-disabled="false">Expand All</button>
          <button class="dds__accordion__control__collapse" aria-disabled="false">Collapse All</button>
        </div>
        <div class="dds__accordion__item dds__accordion__item--expanded">
          <h5 class="dds__accordion__heading">
            <button
              id="trigger-basic-item1"
              class="dds__accordion__button"
              aria-expanded="true"
              aria-controls="content-basic-item1"
            >
              When will I receive my refund?​​​​
            </button>
          </h5>
          <div
            id="content-basic-item1"
            class="dds__accordion__content"
            role="region"
            aria-labelledby="trigger-basic-item1"
          >
            <div class="dds__accordion__body">
              <ol>
                <li>Accept delivery of your order</li>
                <li>
                  <p>
                    To initiate a Return (<a
                      target="_blank"
                      href="https://www.dell.com/learn/us/en/uscorp1/terms-conditions/art-us-return-policy"
                      >Dell’s Return Policy.</a
                    >), enter your order number above, under Action Menu click onReturn Order.
                  </p>
                  <ol>
                    <li>Choose between the pre-paid return options below:</li>
                    <li>Drop off to a carrier store near you (Print return label sent to you by email) or</li>
                    <li>Pick up by carrier.</li>
                  </ol>
                </li>
                <li>Ship your order back to Dell</li>
                <li>
                  Follow the status of your Return by entering your Dell Order Number or Dell Purchase ID above and
                  click on View Return Details from the Action Menu.
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="dds__accordion__item">
          <h5 class="dds__accordion__heading">
            <button
              id="trigger-basic-item2"
              disabled=""
              class="dds__accordion__button"
              aria-expanded="false"
              aria-controls="content-basic-item2"
            >
              Can I cancel my order?​
            </button>
          </h5>
          <div
            id="content-basic-item2"
            class="dds__accordion__content"
            role="region"
            aria-labelledby="trigger-basic-item2"
          >
            <div class="dds__accordion__body">
              <ul>
                <li>
                  Before Production/Packaging: It may be possible to cancel your order before the production and
                  packaging process starts.
                </li>
                <li>
                  Enter your Dell Order number above for the current status of your order, if you see “Request
                  Cancellation” option enabled on the “Action Menu”, you may submit the cancellation request. Please
                  note your request may not be processed if the order has begun production/packaging.
                </li>
                <li>
                  After Production/Shipped Orders: Orders that have already started the production process or that have
                  shipped cannot be cancelled. If the order is no longer needed you will need to request a return.
                  <a
                    href="https://www.dell.com/learn/us/en/uscorp1/terms-conditions/art-us-return-policy"
                    target="_blank"
                    >Return T&amp;C. apply.</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="dds__accordion__item">
          <h5 class="dds__accordion__heading">
            <button
              id="trigger-basic-item3"
              class="dds__accordion__button"
              aria-expanded="false"
              aria-controls="content-basic-item3"
            >
              Can I return my order?​
            </button>
          </h5>
          <div
            id="content-basic-item3"
            class="dds__accordion__content"
            role="region"
            aria-labelledby="trigger-basic-item3"
          >
            <div class="dds__accordion__body">
              <ol>
                <li>Accept delivery of your order</li>
                <li>
                  <p>To initiate a Return, enter your order number above, under Action Menu click on Return Order.</p>
                  <ol>
                    <li>Choose between the pre-paid return options below:</li>
                    <li>Drop off to a carrier store near you (Print return label sent to you by email) or</li>
                  </ol>
                </li>
                <li>Pick up by carrier.</li>
                <li>Ship your order back to Dell</li>
                <li>
                  Follow the status of your Return by entering your Dell Order Number or Dell Purchase ID above and
                  click on View Return Details from the Action Menu.
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
